<h1>Create new certificate</h1>

<div class="details">
	<table>
		<%= form_tag :controller => 'certificate', :action => 'create' do %>
			<tr>
				<td><%= label_tag 'Certificate' %></td> 
				<td><%= text_field_tag 'certificate_name' %></td>				
			</tr>		
	 </table>
	 <%= submit_tag "Save", :disable_with => "Please wait..." %>
	  <% end %>
</div>
