

	<h1>Admin Page</h1>

<%= link_to "Movies", :controller => 'movie', :action => 'index' %><br>
<%= link_to "Add new movie", :controller => 'movie', :action => 'new' %><br>
<%= link_to "Add new certificate", :controller => 'certificate', :action => 'new'  %>

