<h1> Show times </h1>
<div class="details">
<table>
	<th>Show Time</th>
	<th>Description</th>
		<% @showtimes.each do |showtime| %>
		<tr>
			<td><%= showtime.time %></td>
			<td><%= showtime.description %></td>
		</tr>
		<% end %>
</table>
</div>