<h1>Configure Theatre show </h1>


<%= form_tag :controller => 'showtime', :action => 'create' do %>
<% @showtimes.each do |showtime| %>

<%= check_box_tag 'show', showtime.id %> &nbsp;
<% end %>
<%= button_tag "Save", :disable_with => "Please wait..." %>
<% end %>
